__pycache__/
*.pyc
.venv/
venv/
.env
mulheres/
*.zip
src/resultados/extrator_vgg16.keras
src/resultados/classificador_transfer.keras
*.ipynb
artigo.aux
artigo.log
artigo.out
slides.aux
slides.log
slides.out
slides.nav
slides.snm
slides.toc
slides.vrb
